html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
}
canvas {
  display: block;
  touch-action: none;
}
#submitBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;

  background: white;
  color: black;
  border: none;

  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}
