html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
}
canvas {
  display: block;
  touch-action: none;
}
#submitBtn {
  #submitBtn {
    position: fixed;

    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 9999;

    background: white;
    color: black;

    border: none;
    border-radius: 999px;

    padding: 16px 32px;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    cursor: pointer;

    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
  }
}
