html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
}
canvas {
  display: block;
  touch-action: none;
}
#submitBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;

  background: white;
  color: black;
  border: none;

  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}
#submitBtn {
  position: fixed !important;
  left: 50% !important;
  bottom: 48px !important;
  transform: translateX(-50%) !important;

  z-index: 999999 !important;

  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;

  background: white !important;
  color: black !important;

  border: none !important;
  border-radius: 999px !important;

  padding: 16px 34px !important;

  font-size: 14px !important;
  font-weight: 700 !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;

  cursor: pointer !important;
}
